/**
 * Author: alberto
 */

configuration {
    location:           0;
    lines:              4;
    width:              100;
    eh:                 2;
}

* {
    text-color:         white;
    highlight:          bold italic;
	spacing:            10;
	background-color:   transparent;
}

#window {
    font:               "fira code 15";
    padding:            700;
    transparency:       "real";
	background-color:   #24273A88;
}

#element selected {
    text-color:         #9575cd;
}
