/**
 * Author: alberto
 */

configuration {
    show-icons:   true;
    sidebar-mode: false;
    location:     0;
    lines:        6;
}

* {
    background-color: #24273Aff;
    foreground-color: #24273A00;
    separator1-color: #24273A;

    text-color:       white;
    spacing:          10;
    highlight:        bold italic;
}

#window {
    font: "fira code 15";
}

#element selected {
    text-color: #9575cd;
}
